.chatBox {
    flex-grow: 1;
    margin-right: 5px;
    margin-left: 10px;
    padding:0;
    max-width: 63%;
    border-right: 1px solid #ebe7fb;
  }
  .header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ebe7fb;
  }
  .currentChat {
    display: flex;
    align-items: center;
  }
  .currentChat p {
    margin: 0;
    font-weight: 600;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .settings button {
    color: #000;
  }
  .body {
    max-height: calc(100vh /2);
    height: calc(100vh / 2);
    overflow-y: scroll;
    
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  
    margin-right: 20px;
    position: relative;
  }
  .avatar img {
    max-width: 100%;
    object-fit: cover;
  }
  .avatar-img {
    overflow: hidden;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }