.convBox {
  background-color: rgb(253, 242, 242);
    border-right: 1px solid #ebe7fb;
    padding: 0 15px 0 15px;
  }
  .convHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .searchContainer {
    background-color: #e6e5ea;
    border-radius: 5px;
  }
  .searchContainer input {
    background-color: transparent;
    border: none;
    padding: 15px;
    outline: none;
    width: calc(100% - 70px);
    padding-right: 0;
  }
  .search-btn {
    height: 46px;
    border: none;
    background-color: transparent;
    outline: none;
    width: 20%;
    cursor: pointer;
    font-size: 20px;
  }
  .conversationsContainer {
    margin-top: 15px;
    overflow: auto;
    max-height: calc(100vh - calc(100vh / 2));
  }
  
  .btn-out:hover{
    background-color: red;
  }