
.messageContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: right;
  animation-name: showIn;
  animation-duration: 0.2s; 
  animation-iteration-count: 1;
  animation-direction: normal; 
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); 
  animation-fill-mode: both;
  animation-delay: 0.2s;
}
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.messageContent {
  display: flex;
  flex-direction: column;
  background-color: #4462ff;
  color: #fff;
  padding: 15px;
  border-radius: 10px 10px 0 10px;
  max-width: 500px;
  /* min-width: 215px; */
}
.messageContent .messageInfo {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}
.messageContent .messageInfo span {
  font-size: 14px;
  color: #8693d3;
  user-select: none;
}
.messageContainer .messageContent .messageText::selection{
  background-color: yellowgreen;
}

.messageText {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  overflow-x: unset;
  max-width: 100%;
  user-select: text;
}
.messageContainer.other {
  flex-direction: row-reverse;
  transform-origin: left;
}
.messageContainer.other .messageContent {
  background-color: #fff;
  color: #000;
  border-radius: 10px 10px 10px 0;
  max-width: 50%;
}
.messageContainer.other .avatar {
  margin-right: 20px;
  margin-left: 0px;
}
.messageContainer.other .messageContent .messageInfo span {
  color: #d1d1d1;
}
